body {
	background: url('https://www.transparenttextures.com/patterns/food.png');
	background-size: repeat;
	background-color: #b3c4ff;
	margin: 0px;
	color: #000;
}

.navbar {
	background: #3bc1bb;
	border-bottom: 4px solid #2b8e89;
}

.img_rendering {
	max-height: 100px;
	border-radius: 100px;
}

.card {
	margin-top: 50px;
	box-shadow: 3px 3px 0px #00000026;
}

.btn {
	width: 100%;
}

.cadastro {
	position: absolute;
	right: 5px;
	top: 36px;
	width: 150px;
}